<!DOCTYPE html>
<html>
<head>
    <title>Synonyms Dictionary</title>
</head>
<body>
    <h2>Directory</h2>
    <input type="text" id="tbTerm" name="tbTerm"><br>
    <input type="text" id="tbSynList" name="tbSynList"><br>
    <button type="submit" value="Submit" onclick="adding()">Submit</button><br />
    <row id="table">
    </row>

    <div id="synonym-list" class="synonym-list"></div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/dictionary.js"></script>
</body>
</html>

<style>
    .list {
        color: white;
        background-color:gray;
        border-radius:5px;
        font-size:16px;
        padding:4px;
        margin-right:10px;
        margin-top:8px;
        
    }

    .term{
        color:red;
        text-decoration : underline;
        margin-top:15px;
        font-size:20px;
    }
</style>